@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.color_purple {
    color: #CE93D8;
    /*material design purple 200*/
}

.seize_font_h2 {
    font-size: 15px;
}

.seize_font_parag {
    font-size: 10px;
}

.margin-none {
    margin: 0 0 0.4em 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row-reverse;
    background-color: #212121;
    /*material design grey 900*/
    width: 40%;
    min-height: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.contenaire_section_1 {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    /*material design grey 50*/
    width: 75%;
    padding: 2.5em 2.5em 0 2.5em;
}

.container_h1 {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0 4em 0;
    width: 100%;
    height: 5%;
}

h1 {
    font-size: 30px;
}

.padding_top_article {
    padding: 1.5em 0 0 0;
}

.padding_top_article_3 {
    padding: 1.5em 0 1.2em 0;
}

.padding_icons_h2 {
    padding-right: 0.8em;
}

.padding_icons_h3 {
    padding: 0 1.5em 1.8em 0;
}

.margin_titre_principale {
    margin: 0;
}

.souligne_develo {
    border-top: 0.15em solid #CE93D8;
    /*material design purple 200*/
    width: 9%;
}

.header_article {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 0.15em #CE93D8;
    /*material design purple 200*/
}

.size-icons_h2 {
    color: #CE93D8;
    /*material design purple 200*/
    font-size: 25px;
}

.align_header_sous_article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align_header_sous_article_2 {
    flex-direction: column;
    padding-left: 6em;
}

.fa-dot-circle {
    font-size: 0.5em;
}

.align_sous_article {
    color: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.seize_icons_2 {
    color: #CE93D8;
    /*material design purple 200*/
    font-size: 7px;
}

.seize_font_h3 {
    font-size: 12px;
}

.container_sous_article_recommandations {
    color: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
}

.align_art_recommandations {
    display: flex;
    flex-direction: column;
}

.papping_art_recommandation {
    padding-left: 7em;
}

.container_aside {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CE93D8;
    /*material design purple 200*/
    width: 35%;
    padding-bottom: 1.5em;
}

.seize_section {
    width: 100%;
}

.center_img {
    padding-top: 2.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 100%;
    width: 13em;
    border: solid 0.2em rgba(33, 33, 33, 0.200);
}

.padding_parag_aside {
    color: rgb(66, 66, 66);
    padding: 0 2.5em 0 2.5em;
}

.backgroud_h2_contact {
    background-color: #212121;
    color: #CE93D8;
    /*material design purple 200*/
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

.flex_propos,
.container_article_recommandation {
    flex: auto;
}

.icons_aside {
    border-radius: 100%;
    border: solid 2px rgb(33, 33, 33);
    /*material design grey 900*/
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_icons_loisirs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width:800px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .align_header_sous_article_2 {
        flex-direction: column;
        padding: 0 0 0 1em;
    }
    body {
        background-color: #FAFAFA;
        /*material design grey 50*/
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contenaire_section_1 {
        width: 80%;
    }
    .container_aside {
        width: 100%;
    }
    .papping_art_recommandation {
        padding-left: 4em;
    }
}

@media screen and (max-width: 375px) {
    .contenaire_section_1 {
        width: 78%;
    }
    .papping_art_recommandation {
        padding: 0 0 1em 1em;
    }
}